# Olympic Games Analysis

**Overview:**

This notebook contains an analysis of the Olympic Games data, focusing on various aspects such as athlete performance, demographic information, and country-specific statistics. The data used in this analysis was obtained from Kaggle.

### Preliminaries

Just import the libraries that will be needed throughout the assignment.

In [1]:
# imports pandas
import pandas as pd

import os

import matplotlib.pyplot as plt

## Datasets

For solving the questions posed, you have the following datasets available.

### Olympic Games Data

Data from the Olympic Games, for the period considered, were collected for each individual athlete in a given Olympic event (or race) and recorded in the file `athlete_events.csv`. For example, the following entry is for the first gold medal won by a Portuguese woman:

| |ID |Name |Sex |Age |Height |Weight |Team |NOC |Games |Year |Season |City |Sport |Event |Medal|
|---|---|-------|-------|-------|-------|-------|- ------|-------|-------|-------|-------|-------|--- ----|-----------|-----|
|164334 |82494 |Rosa Mara Correia dos Santos Mota |F |30 |157 |45 |Portugal |POR |1988 Summer |1988 |Summer |Seoul |Athletics |Athletics Women's Marathon |Gold|

The file structure is illustrated in the figure below:

![Olympic Games Data](../imgs/raw_athlete_events.png)

As can be seen, various information is recorded for each individual athlete in a given Olympic event, such as name (`Name`), gender (`Sex`), age (`Age`), edition of the Olympic Games (`Games `), the Olympic event (`Event`) among others. It should be noted that, for each athlete, there is an identifier (`ID`) that is unique to that athlete and invariable - it remains for all Olympic events in which that athlete has participated, regardless of the edition (year).

Regarding Olympic events, there are individual events and team events - e.g. football and the 4x100m relay are team events. In team events, the data includes one record for each athlete on the team.

### Population

CSV file `population.csv` includes information about the population of each country for a given year.

The csv file includes ISO3 code of the country (in lower case) (`geo`), the name of the country (`name`), the year (`time`) and the population (`population`).

### Country codes

CSV file `codes.csv` includes information about the different codes used for different countries.

The csv file includes, among other, the name of the country (`Country`), ISO3 code (`ISO3`) and the national olympic code (`IOC`).


The following code loads the datasets.

In [3]:
dataFileName = os.path.join( "..", "data", "athlete_events.csv")

dataDF = pd.read_csv(dataFileName)

print(dataDF.head(5))

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

In [4]:
codesFileName = os.path.join("..", "data", "codes.csv")

codesDF = pd.read_csv(codesFileName)

print(codesDF.head(5))

          Country ISO2 ISO3   ISON  IOC FIPS Plates Domain
0     Afghanistan   AF  AFG    4.0  AFG   AF    AFG    .af
1   Ã…land Islands   AX  ALA  248.0  NaN  NaN     AX    .ax
2         Albania   AL  ALB    8.0  ALB   AL     AL    .al
3         Algeria   DZ  DZA   12.0  ALG   AG     DZ    .dz
4  American Samoa   AS  ASM   16.0  ASA   AQ    USA    .as

In [5]:
populationFileName = os.path.join("..", "data", "population.csv")

populationDF = pd.read_csv(populationFileName)

print(populationDF.head(5))

   geo         name  time  Population
0  afg  Afghanistan  1800   3280000.0
1  afg  Afghanistan  1801   3280000.0
2  afg  Afghanistan  1802   3280000.0
3  afg  Afghanistan  1803   3280000.0
4  afg  Afghanistan  1804   3280000.0

For data on atheletes, there are some information missing. We can compute the number of entries missing using the following code.

**NOTE:** the missing information on Medal is expected - it just means that the athlete has won no medal in the event.

In [6]:
dataDF.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

**GENERAL NOTE:** In your computations, if there are rows for which needed information is missing, just drop the rows.

## Question 1 (7 points)

In this question, we start by exploring the data available with simple queries. In your answers, you can use the data computed in the previous answers if and when useful.


### **1.a)** How many athletes have participated in Summer Olympics and how many athlete participated in Winter Olympics?

In [7]:
summer = dataDF[dataDF["Season"]=="Summer"]["ID"].nunique() 
print( "summer")
print( summer)
winter = dataDF[dataDF["Season"]=="Winter"]["ID"].nunique() 
print( "winter")
print( winter)

summer
116776
winter
18958

### **1.b)** Who are the three youngest and oldest athletes that won a Gold medal in the Olympic games?

Show the following information about each athelete: Name, Age, Team, Games, Sport and Event.

In [8]:
highest = dataDF[dataDF["Medal"] == "Gold"][["Name","Age","Team","Games","Sport","Event" ]].nlargest(3,"Age")
print( "Oldest athletes")
print( highest)
lowest = dataDF[dataDF["Medal"] == "Gold"][["Name","Age","Team","Games","Sport","Event"] ].nsmallest(3,"Age")
print( "Youngest athletes")
print( lowest)
# NOTE: this does not show other atheletes if there are more atheletes # with the same age

Oldest athletes
                        Name   Age           Team        Games  \
105199       Charles Jacobus  64.0  United States  1904 Summer
233390     Oscar Gomer Swahn  64.0         Sweden  1912 Summer
104003  Isaac Lazarus Israls  63.0    Netherlands  1928 Summer

                   Sport                                             Event
105199             Roque                               Roque Men's Singles
233390          Shooting  Shooting Men's Running Target, Single Shot, Team
104003  Art Competitions        Art Competitions Mixed Painting, Paintings
Youngest athletes
                                     Name   Age           Team        Games  \
27207                       Hans Bourquin  13.0    Switzerland  1928 Summer
52010  Donna Elizabeth de Varona (-Pinto)  13.0  United States  1960 Summer
73581                          Fu Mingxia  13.0          China  1992 Summer

          Sport                                            Event
27207    Rowing                         Rowing Men's Coxed Pairs
52010  Swimming  Swimming Women's 4 x 100 metres Freestyle Relay
73581    Diving                          Diving Women's Platform

### 1.c) Who are the top-10 athletes that have won more Gold medals in the Olympic Games?

In [9]:
won = dataDF[(dataDF["Medal"] == "Gold")][["ID","Name","Medal"]].groupby("ID")\
    .agg({"Name":"first","Medal":"count"})
best = won.nlargest(10,["Medal"]) 
print(best)

                                      Name  Medal
ID
94406              Michael Fred Phelps, II     23
33557          Raymond Clarence "Ray" Ewry     10
67046   Larysa Semenivna Latynina (Diriy-)      9
69210       Frederick Carlton "Carl" Lewis      9
87390                 Paavo Johannes Nurmi      9
113912                   Mark Andrew Spitz      9
11642       Matthew Nicholas "Matt" Biondi      8
11951                  Ole Einar Bjrndalen      8
13029                   Usain St. Leo Bolt      8
35550               Birgit Fischer-Schmidt      8

### 1.d) For Summer Olympics, after 1950, who are the athletes that have won more medals in each edition?

Show the following information: Year, Name of athlete, and number of medals.

In [10]:
won = dataDF[(~dataDF["Medal"].isna())&(dataDF["Year"]>1950)&(dataDF["Season"]=="Summer" )][["ID","Name","Medal","Year"]]\
                .groupby(["ID","Year"]).agg({"Name":"first","Medal":"count"}) 
byyear = won.reset_index().groupby("Year").apply(lambda p: p.nlargest(1,["Medal"])) 
byyear = byyear.set_index("Year").drop(columns=["ID"])
print(byyear)

                                    Name  Medal
Year
1952      Mariya Kindrativna Horokhovska      7
1956           gnes Keleti-Srkny (Klein)      6
1960         Borys Anfiyanovych Shakhlin      7
1964  Larysa Semenivna Latynina (Diriy-)      6
1968         Mikhail Yakovlevich Voronin      7
1972                   Mark Andrew Spitz      7
1976        Nikolay Yefimovich Andrianov      7
1980     Aleksandr Nikolayevich Dityatin      8
1984                             Li Ning      6
1988      Matthew Nicholas "Matt" Biondi      7
1992       Vitaly Venediktovich Shcherbo      6
1996             Aleksey Yuryevich Nemov      6
2000             Aleksey Yuryevich Nemov      6
2004             Michael Fred Phelps, II      8
2008             Michael Fred Phelps, II      8
2012             Michael Fred Phelps, II      6
2016             Michael Fred Phelps, II      6